@font-face {
        font-family: Overpass;
        src: url('/home/dj/src/thedj42web/fonts/overpass-fonts-ttf-2.1/Overpass-Regular.ttf');
}
@font-face {
        font-family: Overpass;
        src: url('/home/dj/src/thedj42web/fonts/overpass-fonts-ttf-2.1/Overpass-Regular-Italic.ttf');
        font-style: Italic;
}
@font-face {
        font-family: Overpass;
        src: url('/home/dj/src/thedj42web/fonts/overpass-fonts-ttf-2.1/Overpass-Bold.ttf');
        font-weight: bold;
}
@font-face {
        font-family: Overpass;
        src: url('/home/dj/src/thedj42web/fonts/overpass-fonts-ttf-2.1/Overpass-Bold-Italic.ttf');
        font-style: Italic;
        font-weight: bold;
}


