@font-face {
	font-family: Overpass;
	src: url('/home/dj/src/thedj42web/fonts/overpass-fonts-ttf-2.1/Overpass-Regular.ttf');
}
@font-face {
	font-family: Overpass;
	src: url('/home/dj/src/thedj42web/fonts/overpass-fonts-ttf-2.1/Overpass-Regular-Italic.ttf');
	font-style: Italic;
}
@font-face {
	font-family: Overpass;
	src: url('/home/dj/src/thedj42web/fonts/overpass-fonts-ttf-2.1/Overpass-Bold.ttf');
	font-weight: bold;
}


body{


	background: #000000; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       color: #d3d3d3; 
	
}

h1{

	text-align: center;
	font-family: /*Overpass bold */  Overpass, Helvetica, "Sans Serif";
	font-weight: bold;
}

h2{
	font-family: /* Overpass bold */ Overpass, Helvetica, "Sans Serif";
	font-size: 32px;
	font-weight: bold;
}

.header{
	border-bottom-style: solid;
	-moz-border-image: -moz-linear-gradient(left, #000000 0%, #434343 100%);
	-webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #434343 100%);
	 border-image: linear-gradient(to right, #000000 0%, #434343 100%);
	 border-image-slice: 1;
}
.header h1{
	margin-bottom: 5px;	
	font-size: 56px;	
}
.header p{
	text-align: center;
	font-family: Overpass, Helvetica, "Sans Serif";
	font-style: italic;
	margin-top: 5px;
}
.content{
	text-align: center;
	font-family: Overpass, Helvetica, "Sans Serif";

}
