@font-face {
        
	font-family: Overpass;
        src: url('./fonts/overpass-fonts-ttf-2.1/Overpass-Regular.ttf');
}
@font-face {
        
	font-family: Overpass;
        src: url('./fonts/overpass-fonts-ttf-2.1/Overpass-Regular-Italic.ttf');
        font-style: Italic;
}
@font-face {
        
	font-family: Overpass;
        src: url('./fonts/overpass-fonts-ttf-2.1/Overpass-Bold.ttf');
        font-weight: bold;
}
@font-face {
        
	font-family: Overpass;
        src: url('./fonts/overpass-fonts-ttf-2.1/Overpass-Bold-Italic.ttf');
        font-style: Italic;
        font-weight: bold;
}

@font-face {
        
	font-family: Overpass-Light;
        src: url('./fonts/overpass-fonts-ttf-2.1/Overpass-Light.ttf');
}

@font-face {
        
	font-family: Overpass-Light;
        src: url('./fonts/overpass-fonts-ttf-2.1/Overpass-Light-Italic.ttf'0);
	font-style: Italic;
}

@font-face {
        
	font-family: Overpass-ExtraLight;
        src: url('./fonts/overpass-fonts-ttf-2.1/Overpass-ExtraLight.ttf');
}
@font-face {
        
	font-family: Overpass-ExtraLight;
        src: url('./fonts/overpass-fonts-ttf-2.1/Overpass-ExtraLight-Italic.ttf');
	font-style: Italic;
}
body{
	
	background: #000000; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       color: #d3d3d3; 
	
}

h1{

	text-align: center;
	font-family: /*Overpass bold */  Overpass, Helvetica, "Sans Serif";
	font-weight: bold;
}

h2{
	font-family: /* Overpass bold */ Overpass, Helvetica, "Sans Serif";
	font-size: 32px;
	font-weight: bold;
	border-bottom-style: solid;
	border-width: 2px;	
	border-color: dimgrey;
}
p{

	text-align: center;
	font-family: Overpass-Light, Helvetica, "Sans Serif";
	font-size: 20px;	
}
.header{
	
	border-bottom-style: solid;
	-moz-border-image: -moz-linear-gradient(left, #000000 0%, #434343 100%);
	-webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #434343 100%);
	 border-image: linear-gradient(to right, #000000 0%, #434343 100%);
	 border-image-slice: 1;
	 padding-bottom: 13px;
}
.header h1{
	
	margin-bottom: 5px;	
	font-size: 56px;	
}
.header p{
	
	text-align: center;
	font-family: Overpass-ExtraLight, Helvetica, "Sans Serif";
	font-style: italic;
	font-size: 16px;
	margin-top: 5px;
}
.header nav{
	
	text-align: center;
	font-family: Overpass-Light, Helvetica, "Sans Serif";
}
.header nav a{
	
	text-decoration: none;
	color: white;
	padding: 8px 16px;
	margin-bottom: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}
.header nav a:hover{
	
	background-color: green;
	-webkit-transition: ease .25s; /* Chrome, Safari */ 
	transition: ease .25s; /* Firefox, Opera, Edge */
}
.header nav a:active{
	background-color: blue;
}
.content{
	
	text-align: center;
	font-family: Overpass, Helvetica, "Sans Serif";

}
.whoami {
	
	margin: auto auto auto auto
}
.whoami p{
	
	width: 900px;
	margin: auto auto auto auto
}
.Edu h3 {
	
	font-family: Overpass-Light, Helvetica, "Sans Serif";
	text-align: left;
}
.Edu small{

	text-align: left;
}
.Edu p{
	text-align: right;
}
