@font-face {
        font-family: Overpass;
        src: url('/fonts/overpass-fonts-ttf-2.1/Overpass-Regular.ttf');
}
@font-face {
        font-family: Overpass;
        src: url('/fonts/overpass-fonts-ttf-2.1/Overpass-Regular-Italic.ttf');
        font-style: Italic;
}
@font-face {
        font-family: Overpass;
        src: url('/fonts/overpass-fonts-ttf-2.1/Overpass-Bold.ttf');
        font-weight: bold;
}
@font-face {
        font-family: Overpass;
        src: url('/fonts/overpass-fonts-ttf-2.1/Overpass-Bold-Italic.ttf');
        font-style: Italic;
        font-weight: bold;
}

@font-face {
        font-family: Overpass-Light;
        src: url('/fonts/overpass-fonts-ttf-2.1/Overpass-Light.ttf');
}

@font-face {
        font-family: Overpass-Light;
        src: url('/fonts/overpass-fonts-ttf-2.1/Overpass-Light-Italic.ttf'0);
	font-style: Italic;
}

@font-face {
        font-family: Overpass-ExtraLight;
        src: url('/fonts/overpass-fonts-ttf-2.1/Overpass-ExtraLight.ttf');
}
@font-face {
        font-family: Overpass-ExtraLight;
        src: url('/fonts/overpass-fonts-ttf-2.1/Overpass-ExtraLight-Italic.ttf');
	font-style: Italic;
}

.content {

	font-family: Overpass, Helvetica, "Sans Serif";	
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
	width: 100px;
	height: 100px;
}

.content ul{

	padding-left: 0px;
}

.content li{
	
	font-weight: bold;
	list-style: none;
	text-align: left;
}
